<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js">
 </script>
  </head>
<body ng-app="ShoppingListApp">
	<style>
	.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
<div ng-controller='ShoppingListAddController as itemAdder'> 
	<h1 align center> Add new Hospital </h1>
        <TABLE BORDER="1">
  <TR>
    <TD>Hospital Name</TD>
    <TD>
      <input type="text" ng-model="itemAdder.HName" placeholder="hospital name">
             </TD>
  </TR>
  <TR>
    <TD>Diseases Name</TD>
    <TD><input type="text" ng-model="itemAdder.DName" placeholder="diseases name"> 
                   </TD>
  </TR>
<TR>
    <TD>Treatment Cost</TD>
    <TD>
  <input type="number" ng-model="itemAdder.tcost" placeholder="treatment amount">
 </TD></TR></TABLE>	<br>
	<button class="button" ng-click="itemAdder.addItem();">Add</button> 
</div> </p><hr><br>
<div ng-controller='ShoppingListShowController as showList'>
<table border="2" align="center">
           <tr>
           	<th>S.No</th>
               <th>Hospital Name</th>
               <th>Diseases Name</th>
               <th>Treatment Amount</th>
               <th>Remove</th>
               
          </tr>
  <tr ng-repeat="x in showList.items">
   <td>{{$index+1}}</td>
             <td>{{x.name}}</td>
           <td>{{x.dname}}</td>
           <td>{{x.t_cost}}</td>
           <td><button ng-click="showList.removeItem($index);">Remove Item</button> </td>

     </tr>
   </table><hr> 
 
</div> 
<script>
angular.module('ShoppingListApp', [ ]) 
.controller('ShoppingListAddController', ShoppingListAddController) 
.controller('ShoppingListShowController', ShoppingListShowController) 
.service('ShoppingListService', ShoppingListService);

function ShoppingListService() { 
	var service = this; 
	var items = []; 
	service.addItem = function (HName, DName,tcost) { 
		var item = { name: HName, dname: DName, t_cost:tcost}; 
		items.push(item);   }; 
	service.removeItem = function (itemIndex) { 
		items.splice(itemIndex, 1);   }; 
	service.getItems = function () { return items; }; 
}
ShoppingListAddController.$inject = ['ShoppingListService']; 
function ShoppingListAddController(ShoppingListService) { 
	var itemAdder = this; 
	itemAdder.HName = ""; 
	itemAdder.DName = ""; 
	itemAdder.tcost = ""; 
	
	itemAdder.addItem = function () { ShoppingListService.addItem(itemAdder.HName,
					itemAdder.DName,itemAdder.tcost); 	} 
}
ShoppingListShowController.$inject = ['ShoppingListService']; 
function ShoppingListShowController(ShoppingListService) { 
var showList = this; 
showList.items = ShoppingListService.getItems(); 
showList.removeItem = function (itemIndex) { ShoppingListService.removeItem(itemIndex);    }; 
}
</script>
</body>
</html lang="en">
